body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#playerInput, #randomRoll, #gameResult, #pick{
    text-align: center;
    align-items: center;
}

#button{
    position:absolute;
    left: 50%;
    translate: -50%;
}

#imgContainer{
    display: flex;
    justify-content: center;
}

#imgContainer img{
    max-width: 10%;
}