body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: rgb(20, 23, 22);
    color: aliceblue;
}

#playerInput, #randomRoll, #gameResult, #pick{
    text-align: center;
    align-items: center;
}

#button{
    position:absolute;
    left: 50%;
    translate: -50%;
}

#imgContainer{
    display: flex;
    justify-content:center;
    
}

#imgContainer img{
    max-width: 10%;
    margin:15px;
}