body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: rgb(20, 23, 22);
    color: aliceblue;
}

#scoreDisplay{
    font-size: 30px;
}

.middle{
    text-align: center;
    align-items: center;
}

#imgContainer{
    display: flex;
    justify-content:center;
    
}

#imgContainer img{
    max-width: 15%;
    margin:15px;
}

#imgContainer img:hover{
    -webkit-filter: brightness(75%);
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}